<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.limuren.blog.mapper.ArticleMapper">
	<resultMap id="BaseResultMap" type="com.limuren.blog.pojo.Article">
		<constructor>
			<idArg column="articleid" jdbcType="INTEGER" javaType="java.lang.Integer" />
			<arg column="user" jdbcType="INTEGER" javaType="java.lang.Integer" />
			<arg column="category" jdbcType="INTEGER" javaType="java.lang.Integer" />
			<arg column="tittle" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="simpleText" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="imgurl" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="status" jdbcType="BIT" javaType="java.lang.Boolean" />
			<arg column="createTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
			<arg column="updateTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
		</constructor>
	</resultMap>
	<resultMap id="ResultMapWithBLOBs" type="com.limuren.blog.pojo.Article">
		<constructor>
			<idArg column="articleid" jdbcType="INTEGER" javaType="java.lang.Integer" />
			<arg column="user" jdbcType="INTEGER" javaType="java.lang.Integer" />
			<arg column="category" jdbcType="INTEGER" javaType="java.lang.Integer" />
			<arg column="tittle" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="simpleText" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="imgurl" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="status" jdbcType="BIT" javaType="java.lang.Boolean" />
			<arg column="createTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
			<arg column="updateTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
			<arg column="richText" jdbcType="LONGVARCHAR" javaType="java.lang.String" />
		</constructor>
	</resultMap>
	<sql id="Base_Column_List">
		articleid, user, category, tittle, simpleText, imgurl,
		status, createTime,
		updateTime
	</sql>
	<sql id="Blob_Column_List">
		richText
	</sql>
	<select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from article
		where articleid = #{articleid,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		article
		where articleid = #{articleid,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.limuren.blog.pojo.Article">
		insert into article
		(articleid, user, category,
		tittle, simpleText, imgurl,
		status,
		createTime, updateTime,
		richText)
		values (#{articleid,jdbcType=INTEGER},
		#{user,jdbcType=INTEGER},
		#{category,jdbcType=INTEGER},
		#{tittle,jdbcType=VARCHAR}, #{simpletext,jdbcType=VARCHAR},
		#{imgurl,jdbcType=VARCHAR},
		#{status,jdbcType=BIT}, now(), now(),
		#{richtext,jdbcType=LONGVARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.limuren.blog.pojo.Article">
		insert into article
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="articleid != null">
				articleid,
			</if>
			<if test="user != null">
				user,
			</if>
			<if test="category != null">
				category,
			</if>
			<if test="tittle != null">
				tittle,
			</if>
			<if test="simpletext != null">
				simpleText,
			</if>
			<if test="imgurl != null">
				imgurl,
			</if>
			<if test="status != null">
				status,
			</if>
			<!-- <if test="createtime != null" > createTime, </if> <if test="updatetime 
				!= null" > updateTime, </if> -->
			<if test="richtext != null">
				richText,
			</if>
			createTime,
			updateTime
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="articleid != null">
				#{articleid,jdbcType=INTEGER},
			</if>
			<if test="user != null">
				#{user,jdbcType=INTEGER},
			</if>
			<if test="category != null">
				#{category,jdbcType=INTEGER},
			</if>
			<if test="tittle != null">
				#{tittle,jdbcType=VARCHAR},
			</if>
			<if test="simpletext != null">
				#{simpletext,jdbcType=VARCHAR},
			</if>
			<if test="imgurl != null">
				#{imgurl,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=BIT},
			</if>
			<!-- <if test="createtime != null" > #{createtime,jdbcType=TIMESTAMP}, 
				</if> <if test="updatetime != null" > #{updatetime,jdbcType=TIMESTAMP}, </if> -->
			<if test="richtext != null">
				#{richtext,jdbcType=LONGVARCHAR},
			</if>
			now(),
			now()
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.limuren.blog.pojo.Article">
		update article
		<set>
			<if test="user != null">
				user = #{user,jdbcType=INTEGER},
			</if>
			<if test="category != null">
				category = #{category,jdbcType=INTEGER},
			</if>
			<if test="tittle != null">
				tittle = #{tittle,jdbcType=VARCHAR},
			</if>
			<if test="simpletext != null">
				simpleText = #{simpletext,jdbcType=VARCHAR},
			</if>
			<if test="imgurl != null">
				imgurl = #{imgurl,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=BIT},
			</if>
			<!-- <if test="createtime != null" > createTime = #{createtime,jdbcType=TIMESTAMP}, 
				</if> <if test="updatetime != null" > updateTime = #{updatetime,jdbcType=TIMESTAMP}, 
				</if> -->
			<if test="richtext != null">
				richText = #{richtext,jdbcType=LONGVARCHAR},
			</if>
			updateTime = now()
		</set>
		where articleid = #{articleid,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKeyWithBLOBs" parameterType="com.limuren.blog.pojo.Article">
		update article
		set user = #{user,jdbcType=INTEGER},
		category =
		#{category,jdbcType=INTEGER},
		tittle = #{tittle,jdbcType=VARCHAR},
		simpleText = #{simpletext,jdbcType=VARCHAR},
		imgurl =
		#{imgurl,jdbcType=VARCHAR},
		status = #{status,jdbcType=BIT},
		<!-- createTime = #{createtime,jdbcType=TIMESTAMP}, updateTime = #{updatetime,jdbcType=TIMESTAMP}, -->
		richText = #{richtext,jdbcType=LONGVARCHAR},
		updateTime = now()
		where
		articleid = #{articleid,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.limuren.blog.pojo.Article">
		update article
		set user = #{user,jdbcType=INTEGER},
		category =
		#{category,jdbcType=INTEGER},
		tittle = #{tittle,jdbcType=VARCHAR},
		simpleText = #{simpletext,jdbcType=VARCHAR},
		imgurl =
		#{imgurl,jdbcType=VARCHAR},
		status = #{status,jdbcType=BIT},
		<!-- createTime = #{createtime,jdbcType=TIMESTAMP}, updateTime = #{updatetime,jdbcType=TIMESTAMP} -->
		updateTime = now()
		where articleid = #{articleid,jdbcType=INTEGER}
	</update>

<!-- 	<select id="getAllArticleList" resultType="com.limuren.blog.pojo.Article">
		select
		<include refid="Base_Column_List" />
		from article
		ORDER BY articleid asc
	</select>
 -->
 	<select id="getAllArticleListByCategory" resultType="com.limuren.blog.pojo.Article"
		parameterType="map">
		select
		<include refid="Base_Column_List" />
		from article
		<if test="category != null">
			WHERE category = #{category,jdbcType=INTEGER} 
		</if>
		ORDER BY articleid asc
	</select>
	<resultMap id="VoResultMapWithBLOBs" type="com.limuren.blog.vo.ArticleDetailPageVo">
		<constructor>
			<idArg column="articleid" jdbcType="INTEGER" javaType="java.lang.Integer" />
			<arg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
			<arg column="name" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="tittle" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="richText" jdbcType="LONGVARCHAR" javaType="java.lang.String" />
			<arg column="imgurl" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="status" jdbcType="BIT" javaType="java.lang.Boolean" />
			<arg column="updateTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
			<arg column="userid" jdbcType="INTEGER" javaType="java.lang.Integer" />
			<arg column="nickname" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="userhead" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="signature" jdbcType="VARCHAR" javaType="java.lang.String" />
		</constructor>
	</resultMap>
	<select id="selectArticleDetailPageByPrimaryKey" resultMap="VoResultMapWithBLOBs" parameterType="map">
		SELECT
		a.articleid,
		c.id,
		c.name,
		a.tittle,
		a.richText,
		a.imgurl,
		a.`status`,
		a.updateTime,
		u.userid,
		u.nickname,
		u.userhead,
		u.signature
		FROM
		article AS a
		Left Join category AS c ON a.category = c.id
		Left Join `user` AS u ON u.userid = a.`user`
		WHERE
		a.articleid = #{articleid,jdbcType=INTEGER}
		<if test="article != null">
			AND c.status = #{article,jdbcType=BIT}
		</if>
		<if test="category != null">
			AND a.status = #{category,jdbcType=BIT}
		</if>
		
	</select>

</mapper>